body {
  background-color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  margin: 5px;
  text-decoration: none;
  color: #f8f9fa;
}
a:hover{
  color:#f8f9fa;
  text-decoration: none;
}